.ribbon1{
    background: #444 url(/assets/front/img/example/andrik-langfield-316474-unsplash.jpg) center center no-repeat fixed;
    background-size: cover;
}

.ribbon1 h2{
    color: white;
    font-weight: bold;
}

.ribbon2{
    background: #444 url(/assets/front/img/example/kalen-emsley-99666-unsplash.jpg) center center no-repeat fixed;
    background-size: cover;
}

.ribbon2 h2{
    color: white;
    font-weight: bold;
}
